# macOS
.DS_Store

# Node & package managers
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / deploy artefacts
dist/
build/
public/
gh-pages/

# Static-site generators / bundlers
_site/
.jekyll-cache/
.sass-cache/
.next/
.out/
.cache/
.svelte-kit/
astro/
.storybook/

# Tests
coverage/

# Environment variables
.env
.env.*.local
.env.local

# IDEs / editors
.vscode/
.idea/

# Misc
*.log
*.tgz
